.form-box {
    padding: 40px;
    background-color:rgba(239,239,239);
    width: 30%;
    margin-left: 10%;
}

.footer-link{
    color: #6c757d;
}
@media screen and (max-width: 2500px) {
    .form-box {
        padding: 40px;
        background-color:rgba(239,239,239);
        width: 35%;
        margin-left: 7%;
    }
  }

@media screen and (max-width: 1400px) {
    .form-box {
        padding: 40px;
        background-color:rgba(239,239,239);
        width: 60%;
        margin-left: 0;

    }
  }


@media screen and (max-width: 1020px) {
    .form-box {
        padding: 40px;
        background-color:rgba(239,239,239);
        width: 90%;
        margin-left: 0;

    }
  }

@media screen and (max-width: 800px) {
    .form-box {
        padding: 40px;
        background-color:rgba(239,239,239);
        width: 80%;
        margin-left: 0;

    }
  }

@media screen and (max-width: 600px) {
    .form-box {
        padding: 40px;
        background-color:rgba(239,239,239);
        width: 100%;
        margin-left: 0;
    }
  }

.form-background {
    background-image: url('https://cdn.shopify.com/s/files/1/1665/4771/files/mobile_makeup_and_hair.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 80px;
}

@media screen and (max-width: 600px) {
    .form-background {
        background-image: none;
        padding: 0px;
       
    }
  }