.profile-box{
  margin-bottom: 30px;
  display: flex;
}

.profile-pic{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}


.profile-image-box{
margin-left: 10px;
}

.reviews-data-box{
  margin-top: 5px;
  margin-left: 20px;
  flex: 1;
}